    @charset "UTF-8";
    /**
 * @mcgradytien (mcgradytien@163.com)
 * @date    2017-01-08 17:15:28
 * @version 0.0.1
 */
    
    * {
        font-family: PingFang SC, Microsoft Yahei;
    }
    
    body {
        margin: 0px;
        background: #fafafa;
    } 
    
    .clearfix {
        overflow: auto;
    }
    /* 公用样式 */
    
    header {
        height: 80px;
        line-height: 80px;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: #FFF;
        opacity: 0.9;
        -moz-opacity:0.9;
        -webkit-opacity:0.9;
    }
    #header-blur{  
    height: 80px;
    width: 100%;
    background: inherit;   
    -webkit-filter: blur(10px);   
    -moz-filter: blur(10px);   
    -ms-filter: blur(10px);   
    -o-filter: blur(10px);   
    filter: blur(10px);   
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false); 
} 
    
    #header-contact span img {
        width: 20px;
        margin: 0 15px -4px 15px;
    }
    #header-content{
        position: relative;   
        display: block; 
        margin-top: -80px;
    }

    section {
        position: absolute;
        height: 0px;
        width: 100%;
    }
    
    footer {
        position: absolute;
        height: 100px;
        width: 100%;
        background-color: #ffffff;
    }
    
    #personal-info {
        padding-left: 5%;
    }
    
    #personal-experience {
        padding-top: 900px;
        width: 100%;
    }
    
    #personal-experience .exper {
        width: 88%;
    }
    
    #exper1 {
        margin-top: 100px;
    }
    
    #exper2 {
        margin-top: 300px;
    }
    
    #exper3 {
        margin-top: 500px;
    }
    
    #personal-experience .exper {
        width: 88%;
    }
    
    #personal-experience .exper div {
        float: left;
    }
    
    #personal-experience .exper .details {
        float: right;
        right: 5%
    }
    
    #personal-experience .exper div span {
        display: inline-block;
    }
    
    #personal-project {
        margin-top: 1000px;
        padding-left: 5%;
    }
    
    #project1 {
        margin-top: 0px;
    }
    
    #project2 {
        margin-top: 1000px;
    }
    
    #project3 {
        margin-top: 1900px;
    }
    
    #personal-project .project {
        position: absolute;
        width: 90%;
    }
    
    @media screen and (min-width: 960px) {
        #header-name {
            position: absolute;
            font-size: 18px;
            line-height: 80px;
            padding-left: 10%;
        }
        #header-contact {
            position: absolute;
            font-size: 18px;
            right: 5%;
            text-align: right;
            line-height: 80px;
        }
        section div div {
            position: absolute;
        }
        section #profile {
            width: 40%;
            margin-top: 80px;
        }
        section #avatar {
            right: 5%;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #D8D8D8;
            margin-top: 200px;
        }
        /*个人简介*/
        #profile #name {
            font-size: 44px;
            line-height: 120px;
        }
        #profile p {
            font-size: 22px;
            line-height: 30px;
        }
        #profile-details {
            margin-top: 150px;
        }
        #profile-details a {
            text-decoration: none;
            color: #0271C9;
        }
        /*个人经历*/
        #personal-experience .exper {
            padding-left: 0%;
        }
        #personal-experience .exper div span {
            display: inline-block;
            font-size: 22px;
            line-height: 40px;
        }
        /*项目经验*/
        #personal-project .project .project-details {
            float: left;
            width: 50%;
            height: 1000px;
        }
        #personal-project .project div .project-title {
            font-size: 32px;
        }
        #personal-project .project div p {
            font-size: 22px;
            line-height: 30px;
        }
        #personal-project .project div textarea {
            font-size: 18px;
            line-height: 22px;
            width: 50%;
            height: 100px;
            padding: 20px;
        }
        #personal-project .project .project-avatar {
            margin-top: 35px;
            float: right;
            width: 300px;
            height: 300px;
            background: #D8D8D8;
            right: 10%;
        }
    }
    
    @media screen and (min-width: 679px) {
        #header-name {
            position: absolute;
            font-weight: bold;
            padding-left: 10%;
        }
        #header-contact {
            position: absolute;
            text-align: right;
            right: 5%;
        }
        section div div {
            position: absolute;
        }
        section #profile {
            width: 40%;
            padding-left: 5%;
            margin-top: 80px;
        }
        section #avatar {
            right: 5%;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #D8D8D8;
            margin-top: 200px;
        }
        /*个人简介*/
        #profile #name {
            font-size: 38px;
            line-height: 120px;
        }
        #profile p {
            font-size: 18px;
            line-height: 30px;
        }
        #profile-details {
            margin-top: 150px;
        }
        #profile-details a {
            text-decoration: none;
            color: rgb(2, 113, 201);
        }
        /*个人经历*/
        #personal-experience .exper {
            padding-left: 10%;
        }
        #personal-experience .exper div span {
            display: inline-block;
            font-size: 18px;
            line-height: 40px;
        }
        /*项目经历*/
        #personal-project {
            margin-left: 5%;
        }
        #personal-project .project .project-details {
            float: left;
            width: 50%;
            height: 1000px;
        }
        #personal-project .project div .project-title {
            font-size: 24px;
        }
        #personal-project .project div p {
            font-size: 18px;
            line-height: 30px;
        }
        #personal-project .project div textarea {
            font-size: 16px;
            line-height: 22px;
            width: 50%;
            height: 100px;
            padding: 20px;
        }
        #personal-project .project .project-avatar {
            margin-top: 35px;
            float: right;
            width: 240px;
            height: 240px;
            background: #D8D8D8;
            right: 10%;
        }
    }
    
    @media screen and (max-width: 679px) {
        header {
            position: fixed;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        header #header-contact {
            display: none;
        }
        #personal-info {
            padding: 100px 20px 0px 20px;
        }
        #personal-info #avatar {
            position: relative;
            top: 60px;
            width: 240px;
            height: 240px;
            border-radius: 50%;
            margin: 0px auto;
            background: #D8D8D8;
        }
        #profile {
            margin-top: 160px;
        }
        #profile #name {
            text-align: center;
            font-size: 20px;
            line-height: 60px;
            margin-bottom: 100px;
            font-size: 28px;
        }
        #profile p{
            font-size: 18px;
        }
        #profile-details a {
            display: block;
            margin-top: 40px;
            text-decoration: none;
            color: #0271C9;
        }
        #personal-experience {
            padding-top: 0px;
        }
        #personal-experience .exper div span{
            font-size: 18px;
            height: 28px;
        }
        #exper1 {
            padding: 20px;
            margin-top: 140px;
        }
        #exper2 {
            padding: 20px;
            margin-top: 160px;
        }
        #exper3 {
            padding: 20px;
            margin-top: 180px;
        }
        #personal-experience .exper .details {
            position: absolute;
            left: 0px;
            margin-top: 55px;
            margin-left: 20px
        }
        #personal-project {
            width: 90%;
            margin-top: 200px;
            position: absolute;
            padding-left: 5%;
        }
        #personal-project .project .project-title{
            font-size: 24px;
        }
        #personal-project .project div p{
            font-size: 18px;
        }
        #project1 {
            margin-top: 100px;
            height: 600px;
        }
        #project2 {
            margin-top: 700px;
            height: 600px;
        }
        #project3 {
            margin-top: 1300px;
            height: 600px;
        }
        #personal-project .project .project-details {
            float: left;
            width: 90%;
        }
        #personal-project .project .project-details textarea{
            width: 90%;
            height: 60px;
        }
        #personal-project .project .project-avatar {
            display: none;
        }
    }
