@charset "UTF-8";

/**
 * @authors Your Name (you@example.org)
 * @date    2017-01-08 17:15:28
 * @version $Id$
 */

* {
    font-family: microsoft yahei;
    padding: 0px;
}

body{
	margin: 0px;
}

clearfix {
    overflow: auto;
}

header {
    background-color: #F7F7F7;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

#header-contact span img {
    width: 20px;
    margin: 0 15px -4px 15px;
}

section {
    position: absolute;
    height: 0px;
    width: 100%;
}

footer {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 4600px;
    background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
    #header-name {
        position: absolute;
        width: 30%;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        padding-left: 10%;
        margin-top: 20px;
    }
    #header-contact {
        position: absolute;
        width: 50%;
        font-size: 18px;
        height: 40px;
        right: 5%;
        text-align: right;
        line-height: 40px;
        margin-top: 20px;
    }
    section div div {
        position: absolute;
    }
    section #profile {
        width: 50%;
        padding-left: 10%;
        margin-top: 80px;
    }
    section #avatar {
        right: 5%;
        width: 320px;
        height: 320px;
        border-radius: 50%;
        background-color: #D8D8D8;
        margin-top: 200px;
    }
    #profile p {
        font-size: 22px;
        line-height: 30px;
    }
    #profile-details {
        margin-top: 200px;
    }
    #profile-details a {
        text-decoration: none;
        margin-top: 300px;
        color: #0271C9;
    }
    #personal-experience {
        padding-top: 900px;
        width: 100%;
    }
    #exper1 {
        padding-left: 10%;
        margin-top: 100px;
    }
    #exper2 {
        padding-left: 10%;
        margin-top: 300px;
    }
    #exper3 {
        padding-left: 10%;
        margin-top: 500px;
    }
    #personal-experience .exper {
        width: 88%;
    }
    #personal-experience .exper div {
        float: left;
        margin-top: 50px;
        width: 20%;
    }
    #personal-experience .exper .details {
        float: right;
        right: 10%;
        width: 50%;
    }
    #personal-experience .exper div span {
        display: inline-block;
        font-size: 22px;
        line-height: 40px;
    }
    #personal-project {
        margin-top: 1000px;
        margin-left: 10%;
    }
    #personal-project .project {
        width: 88%;
    }
    #project1 {
        margin-top: 100px;
    }
    #project2 {
        margin-top: 1000px;
    }
    #project3 {
        margin-top: 1900px;
    }
    #personal-project .project .project-details {
        float: left;
        width: 50%;
    }
    #personal-project .project div .project-title {
        font-size: 32px;
    }
    #personal-project .project div p {
        font-size: 22px;
        line-height: 30px;
    }
    #personal-project .project div textarea {
        font-size: 18px;
        line-height: 22px;
        width: 50%;
        height: 100px;
        padding: 20px;
    }
    #personal-project .project .project-avatar {
        margin-top: 35px;
        float: right;
        width: 300px;
        height: 300px;
        background: #D8D8D8;
        right: 10%;
    }
}

@media screen and (max-width: 1200px) {}
